# python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
backend/.venv/
rtsl/

# models / data
*.onnx
*.pt
/data/

# build / ide
.idea/
.vscode/
node_modules/

# C++ build
bindings/build/
build/
*.o
*.so
*.dll

# OS
.DS_Store

# ML outputs
backend/translation/outputs/
backend/translation/logs/
backend/translation/cache/

# Model weights
*.safetensors
*.bin
*.pt
backend/translation/outputs/
backend/translation/logs/


# Hugging Face cache
cache/
**/cache/
.cache/
**/.cache/
**/huggingface/


# TensorBoard
events.out.tfevents.*

# PyTorch
*.pt
*.pth
*.bin
*.safetensors
