# python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
src/backend/.venv/
rtsl/

# models / data
*.onnx
*.onnx.data
*.pt
/data/

# build / ide
.idea/
.vscode/
node_modules/
dist/

# C++ build
bindings/build/
build/
*.o
*.so
*.dll

# OS
.DS_Store

# ML outputs
src/backend/translation/outputs/
src/backend/translation/logs/
src/backend/translation/cache/

# Model weights
*.safetensors
*.bin
*.pt
src/backend/translation/outputs/
src/backend/translation/logs/


# Hugging Face cache
cache/
**/cache/
.cache/
**/.cache/
**/huggingface/


# TensorBoard
events.out.tfevents.*

# PyTorch
*.pt
*.pth
*.bin
*.safetensors

# Logs
landmarks.json

# misc
src/backend/app/local
dist/